body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.red-warning {
  color: #CC0033
}

.loader-container {
  position: absolute;
  width: 0;
  height: 0;
  text-align: center;
  margin-left: -88.5px;
  left: 50%;
  cursor: pointer;
}
.loader {
  width: 177px;
  margin-top: -12px;
}

.warning-container {
  position: absolute;
  width: 0;
  height: 0;
  text-align: center;
  margin-left: -152px;
  left: 50%;
  cursor: pointer;
}
.warning {
  width: 304px;
}