.results-container {
    margin-top: 78px;
}
.results-title {
    font-size: 42px;
}

.results-container a {
    text-decoration: none;
    color: inherit;
}

.results-sidebar-container {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    width: 429px;
    background-color: #fcfcfc;
    border-right: 1px solid #ccc;
    box-shadow: 0 1px 8px 0 rgba(32, 33, 36, .4);
    transition: margin-left .2s ease-out 0.1s;
}
.results-sidebar-container_faded {
    margin-left: -429px;
}
.results-sidebar-container_displayed {
    margin-left: 0px;
}

.sidebar-close-container {
    text-align: right;
}
.sidebar-close-icon {
    padding: 15px 21px 1px 21px;
    color: #CC0033;
    cursor: pointer;
}